

<div class="row">


    <div class="col-md-4">
        <img style="width:100%" src="https://www.planwallpaper.com/static/images/Winter-Tiger-Wild-Cat-Images.jpg">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </div>

    <div class="col-md-8">
        <h1><strong>"Meal Name"</strong></h1>
        <small>Created by ME</small>
        <h6>Recipe suggestions</h6>
       <li>hello</li>
        <li>hello</li>

    </div>

</div>
