

<div class="row">


    <div class="col-md-4">
        <img style="width:100%" src="https://www.planwallpaper.com/static/images/Winter-Tiger-Wild-Cat-Images.jpg">
        
    </div>
    <div class="col-md-8">
        <h1><strong>"El tigrre..."</strong></h1>
        <p>jfghfgh</p>
    </div>
</div>
