################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodTracker2/bin
/FoodTracker2/obj/Debug
/FoodTracker2/FoodTracker3.csproj.user
/.vs/config
