@model FoodTracker3.Models.Meal
@{
    ViewBag.Title = "New";
}

@using (@Html.BeginForm("New", "Meal", FormMethod.Post, new { @class = "", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

}

<form>
    <div class="form-group">
        <label for="MealName">Meal Name</label>
        <input type="email" class="form-control" id="MealName" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="AuthorName">Brief Description</label>
        <input type="password" class="form-control" id="AuthorName" placeholder="description">
    </div>
    <div class="form-group">
        <label for="ImageDescription">Image</label>
        <input type="password" class="form-control" id="ImageDescription" placeholder=" url">
    </div>
    <div class="form-group">
        <label for="ImageURL">Brief Description</label>
        <input type="password" class="form-control" id="ImageURL" placeholder="description">
    </div>
    <div class="form-group">
        <label for="rating">Rating</label>
        <input type="password" class="form-control" id="rating" placeholder="how good was it">
    </div>
    
    <button type="submit" class="btn btn-default">Add Meal</button>
</form>
