
@{
    ViewBag.Title = "Home";
}

<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="http://www.buyfruit.com.au/images/P/iStock_000004710243Small_(KiwiFruit)SECOND__81625.jpg" alt="Frutas" width="64" height="64">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Frutas</h4>
        Estas Frutas son una prueba
    </div>


<div class="media">
    <div class="media-left">
        <a href="#">
            <img class="media-object" src="http://olahuna.com/wp-content/uploads/2014/05/Green-Papaya-Fruit-image-3.jpg" alt="Frutas" width="64" height="64">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Frutas</h4>
        Estas Frutas son una prueba
    </div>

<div class="media">

    <div class="media-left">
        <a href="#">
            <img class="media-object" src="http://www.californiaavocado.com/blog/wp-content/uploads/2015/01/avocado-fruit-berry.jpg" alt="Frutas" width="64" height="64">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Frutas</h4>
        Estas Frutas son una prueba
    </div>


<div class="media">

    <div class="media-left">
        <a href="#">
            <img class="media-object" src="http://images2.fanpop.com/images/photos/7100000/Raspberries-fruit-7152002-500-428.jpg" alt="Frutas" width="64" height="64">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Frutas</h4>
        Estas Frutas son una prueba
    </div>


<div class="media">

    <div class="media-left">
        <a href="#">
            <img class="media-object" src="http://im.rediff.com/getahead/2012/sep/20fruit1.jpg" alt="Frutas" width="64" height="64">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Frutas</h4>
        Estas Frutas son una prueba
    </div>

<div class="media">

    <div class="media-left">
        <a href="#">
            <img class="media-object" src="http://www.foodnavigator-usa.com/var/plain_site/storage/images/publications/food-beverage-nutrition/foodnavigator-usa.com/markets/how-mango-hit-the-mainstream-trend-mapping-with-fruit/8078890-1-eng-GB/How-mango-hit-the-mainstream-Trend-mapping-with-fruit_strict_xxl.jpg" alt="Frutas" width="64" height="64">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">Frutas</h4>
        Estas Frutas son una prueba
    </div>


</div></div></div></div></div></div>