@model ICollection<FoodTracker3.Models.Meal>

@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg" alt="Kiwi" width="240" height="200">
            <div class="caption">
                <h3>Comida Gourmete</h3>
                <p>Informacion de la comida para poder venderla al publico y eso</p>
                <p><a href="Meal/Index/" class="btn btn-primary" role="button">Ver</a></p>
                <button type="button" class="btn btn-default pull-right">Delete </button>
            </div>
        </div>
    </div>
</div>


@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.bestfon.info/images/joomgallery/originals/comida_9/comida_46_20120413_1185044355.jpg" alt="Kiwi" width="240" height="200">
                <div class="caption">
                    <h3>Comida Gourmete</h3>
                    <p>Informacion de la comida para poder venderla al publico y eso</p>
                    <p><a href="Meal/Index/" class="btn btn-primary" role="button">Ver</a></p>
                    <button type="button" class="btn btn-default pull-right">Delete </button>
                </div>
            </div>
        </div>
    </div>
}


@*<div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.fabricadecongelados.com.ar/milanesasventa/mayorfabricag.jpg" alt="Papaya" width="240" height="200">
                <div class="caption">
                    <h3>Milanesa de pollo</h3>
                    <p>Informacion del platillo, precio, etc</p>
                    <p><a href="#" class="btn btn-primary" role="button">Ver</a></p>
                </div>
            </div>
        </div>
    </div>*@


