
@{
    ViewBag.Title = "Home";
}

<button type="button" class="btn btn-primary pull-right">Nuevo Alimento</button>
<br />

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.buyfruit.com.au/images/P/iStock_000004710243Small_(KiwiFruit)SECOND__81625.jpg" alt="Kiwi" width="240" height="200">
            <div class="caption">
                <h3>Kiwi</h3>
                <p>Informacion del kiwi</p>
                <p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://olahuna.com/wp-content/uploads/2014/05/Green-Papaya-Fruit-image-3.jpg" alt="Papaya" width="240" height="200">
            <div class="caption">
                <h3>Papaya</h3>
                <p>Informacion del kiwi</p>
                <p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.californiaavocado.com/blog/wp-content/uploads/2015/01/avocado-fruit-berry.jpg" alt="AGuacate" width="240" height="200">
            <div class="caption">
                <h3>Aguacate</h3>
                <p>Informacion del kiwi</p>
                <p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://images2.fanpop.com/images/photos/7100000/Raspberries-fruit-7152002-500-428.jpg" alt="Kiwi" width="240" height="200">
            <div class="caption">
                <h3>Zarzamora</h3>
                <p>Informacion del kiwi</p>
                <p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
            </div>
        </div>
    </div>
</div>
    
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://im.rediff.com/getahead/2012/sep/20fruit1.jpg" alt="Kiwi" width="240" height="200">
            <div class="caption">
                <h3>Platano</h3>
                <p>Informacion del kiwi</p>
                <p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="http://www.foodnavigator-usa.com/var/plain_site/storage/images/publications/food-beverage-nutrition/foodnavigator-usa.com/markets/how-mango-hit-the-mainstream-trend-mapping-with-fruit/8078890-1-eng-GB/How-mango-hit-the-mainstream-Trend-mapping-with-fruit_strict_xxl.jpg" alt="Kiwi" width="240" height="200">
            <div class="caption">
                <h3>Mango</h3>
                <p>Informacion del kiwi</p>
                <p><a href="#" class="btn btn-primary" role="button">Button1</a> <a href="#" class="btn btn-default" role="button">Button2</a></p>
            </div>
        </div>
    </div>
</div>

